/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

/* Font Faces */
@font-face {
  font-family: 'ImHyeMin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'ImHyeMin', sans-serif;
  --font-ko-sub: 'Noto Serif KR', sans-serif;
  --font-en-main: 'Cormorant', sans-serif;
  --color-primary: #faf9f5;
  --color-secondary: #535353;
}